/* .item {
    
}

.item:last-child {
    
}

.btn {
    margin-left: auto;
    border: none;
    padding: 4px 15px;
    border-radius: 10px;
    color: #fff7ee;
    background-color: rgba(218, 163, 62, 0.7);
    transition: background-color 500ms cubic-bezier(.17,.67,.83,.67);
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(255, 166, 0);
}

.text {
    
} */





